# Give these variables real values, and copy it to .env.
EXPERTS_DB_USER=username
EXPERTS_DB_PASS=password
EXPERTS_DB_SERVICE_NAME=experts_oracle_service_name
DWE_DB_SERVICE_NAME=dwe_oracle_service_name

PURE_API_URL=pure_api_url
PURE_API_KEY=pure_api_key
