# Give these variables real values, and copy it to .env.
DB_USER=username
DB_PASS=password
DWE_DB_SERVICE_NAME=dwe_oracle_service_name
HOTEL_DB_SERVICE_NAME=hotel_oracle_service_name

PURE_API_URL=url
PURE_API_USER=username
PURE_API_PASS=password
